html,
body,
.login-box {
  height: 100%;
  background-color: #5D4037;
  animation: fadeIn 1s;
}

.input-field input[type=text]:focus + label{
    font-size:14pt;
    margin-bottom:1em;
    color:black;
}

.card{
  width: 600px;
  height: 100%;
}
.card-action{
  margin-bottom: 20px;
}

.row{
  padding: 2em;
}

.jumbotron{
  paddingBottom: 150px;
  boxShadow: 0px 0px 0px 0px rgba(0,0,0,0);
  width: auto;
}

footer{
    position: relative;
    bottom:0;
    width: 100%;
    text-align: center;
}

#register{
    display: none;
}

#preferences{
    display: none;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 .input-field input[type=text]:focus,.input-field input[type=email]:focus,.input-field input[type=password]:focus, .materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid #2d1111 !important;
     box-shadow: 0 1px 0 0 #2d1111 !important;
  }

  .btn-group button {
    background-color: #1d64c5; /* Green background */
    border: 1px solid blue; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}


 .slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* For cards displaying beer information on a brewery page */
.beer-card {
  width: 100%;
}

#listing-divider {
  padding: 0;
}

.modal-row {
  padding: 0;
}

.tabs .tab a {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}
