html,
body,
.login-box {
  height: 100%;
  background-color: #2d1111;
  animation: fadeIn 1s;

}
.card{
  width: 600px;
  height: 100%;
}
.card-action{
  margin-bottom: 20px;
}

footer{
    position: relative;
    bottom:0;
    width: 100%;
    text-align: center;
}

#register{
    display: none;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

 .input-field input[type=text]:focus,.input-field input[type=password]:focus, .materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid #2d1111 !important;
     box-shadow: 0 1px 0 0 #2d1111 !important;
  }

  .btn-group button {
    background-color: #1d64c5; /* Green background */
    border: 1px solid blue; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}